<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <script>
    window.isPopup = location.href.indexOf('popup=1') > -1
    window.user = {
      "id": 40,
      "email": "dongshuang.xiao@dingxiang-inc.com",
      "password": null,
      "phoneNumber": "18969039360",
      "corpId": 1,
      "roleId": 3,
      "loginName": "dongshuang.xiao@dingxiang-inc.com",
      "activate": 1,
      "realRoleId": 3,
      "dxUid": null,
      "createTime": "2017-07-27T07:38:49.000Z",
      "modifyTime": "2022-05-13T08:17:06.000Z"
    }
    </script>
    {% if isProduction %}
    <link rel="stylesheet" href="{{ staticServer }}/main.css?v={{ staticVersion }}">
    {% endif %}
</head>
<body>
  <div id="app"></div>
  {% if isProduction %}
  <script src="{{ staticServer }}/vendor.js?v={{ staticVersion }}"></script>
  {% endif %}
  <script src="{{ staticServer }}/main.js?v={{ staticVersion }}"></script>
</body>
</html>