<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <script>
    var pageConfig = {
      isPopup: location.href.indexOf('popup=1') > -1,
      csrf: 'k3is1rwG-UbS59nfhJ-v_JnXijfDPzjRL-ac',
      user: '{"activate":1,"company":"顶象技术","createTime":"2017-07-27 15:38:49","email":"dongshuang.xiao@dingxiang-inc.com","id":40,"mobile":"","modifyTime":"2017-07-27 15:39:11"}'
    }
  </script>
</head>
<body>
  <div id="app"></div>
  <script src="http://0.0.0.0:8080/main.js"></script>
</body>
</html>